.dashboard-nav-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;

  > * {
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-family: Airbnb_Cereal-Book;
  }
  > *:hover {
    transition: 0.5s;
    text-decoration: underline;
    // background-color: rgba(52, 51, 51, 0.2);
    border-radius: 5px;
  }
}
