.reviews-container {
  border: 1px solid black;
  padding: 0.5em;
}

.reviews-rate {
  gap: 0.5em;
  align-items: center;
  a {
    color: black;
  }
  span {
    font-size: 1.13em;
  }
}

.rating {
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  p {
    margin: 0;
  }
  progress {
    height: 4px;
    border-radius: 40px;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
    background-color: black;
  }
}
