.reservation {
  border-radius: 13px;
  gap: 0.5em;
  // height: 70vh;
  justify-content: center;
}

.left-side-reservation {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  // gap: 1em;
  .row {
    padding: 0;
    height: 100%;
    // gap: 0.6em;

    .box {
      box-shadow: #0000001f 0 6px 16px;
      padding: 1em 1em 0.5em 1em;
      border-radius: 15px;
      width: 100%;
      height: 100%;

      h1 {
        text-align: center;
        font-size: 1.5em;
      }
    }
  }
}

.el-scrollbar {
  overflow: hidden;
}
///////////////////////////////////////////
.right-side-reservation {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 800px;
  border: 1px solid rgb(223, 216, 216);
  border-radius: 15px;
  margin: 0;
  padding: 0;
  height: 500px;

  .subtitle {
    display: grid;
    justify-items: center;
    align-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
    // position: fixed;

    font-family: Airbnb_Cereal-Medium;
    grid-template-columns: 15% 15% 14% 14% 14% 14% 12%;
    background-color: burlywood;
    p {
      margin: 0;
    }
  }
  .card {
    padding: 0.2em;
    display: grid;
    grid-template-columns: 1fr 14.5% 14.5% 14.5% 14.5% 13.5% 7% 7%;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #ebeef5;
    transition: 0.3s;
    &:hover {
      background-color: #f5f7fa;
    }
    .img-guest {
      display: flex;
      align-items: center;
      gap: 0.3em;
      width: 93px; /* set a fixed width for the container */
      height: 45px; /* set a fixed height for the container */
    }
    img {
      width: 45px;
      height: 45px;
      object-fit: cover; /* control how the image fits inside the container */
      border-radius: 50px;
    }

    h3,
    p {
      text-align: center;
      margin: 0;
      font-size: 1em;
      // margin-left: 0.3em;
    }

    .btn {
      color: black;
      border-radius: 15px;
      width: max-content;
      padding: 0.5em;
      cursor: pointer;
      transition: 0.3s;
      &.approve-btn {
        background-color: #e9edc9;
        &:hover {
          background-color: darken(#e9edc9, 10%);
        }
      }
      &.reject-btn {
        background-color: rgb(255, 209, 209);
        &:hover {
          background-color: darken(rgb(255, 209, 209), 10%);
        }
      }
    }
  }
}
