.trips {

    .trips-preview {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 2fr) 1.6fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        margin-block-end: 10px;

        .mini-card.next-stay {
            grid-column: 1;
            grid-row: 1;
            // flex-wrap: nowrap;
            // justify-content: space-between;
        }

        .prev-stays {
            grid-row: 2;
        }
    }
}