.main-user-listing-container {
  margin-block-start: 50px;
  .user-listing-card {
    gap: 5px;
    display: grid;
    height: 50%;
    grid-template-columns: 120px 70%;
    grid-template-rows: 25% 75%;
    .user-listing-p {
      grid-column: 2;
      font-size: 0.8em;
      margin: 0;
      max-width: 50%;
    }
    .user-img {
      width: 90px;
      height: 90px;
      border-radius: 50px;
      object-fit: cover;
      margin: auto;
    }
  }
  .main-listing-h4 {
    display: grid;
    align-items: center;
    justify-items: start;
    // justify-content: space-between;
    grid-template-columns: 1.5fr repeat(5,1fr);
    color: rgba(46, 46, 46, 0.7);
    border-bottom: 1px solid rgba(46, 46, 46, 0.3);
    // padding: 10px;
    >*{
      display: flex;
      width: 100%;
      padding: 5px;
      // border-left: 1px solid rgba(46, 46, 46, 0.3);
      // border-right: 1px solid rgba(46, 46, 46, 0.3);
    }
  }
}
.main-listing-ul {
  margin: 0;
  padding: 0;
  
  .main-listing-view-container {
   display: grid;
    align-items: center;
    justify-items: start;
    // justify-content: space-between;
    grid-template-columns: 1.5fr repeat(5,1fr);
    color: rgba(46, 46, 46, 0.7);
    border-bottom: 1px solid rgba(46, 46, 46, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    >*{
      margin: 0;
    }

    .listing-stay-preview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        grid-column: 1;
        // width: max-content;
        h4{
          &.listing-stay-preview-h4{
          font-family:CircularAir-Light ;
          overflow: hidden;
          margin: 0;
        }
        }
    }

    .listing-preview-btn {
      background-color: #ffffff;
      border: 1px solid gray;
      border-radius: 5px;
      font-size: .7em;
      // color: gray;
      // height: 35px;
      padding: 8px;
      width: max-content;
      text-align: center;
      cursor: pointer;
    }
    .listing-preview-img {
      width: 100px;
      height: 66px;
      border-radius: 15px;
      object-fit: cover;
      //   margin: auto;
      align-items: left;
    }
  }
  .listing-preview-inner-h4{
    margin-inline-start: 15px;
  }
}
.main-listing-view-container:hover{
    background-color: rgb(128, 128, 128,.1);
}