button {
    border:0;
    background-color: $clr1;
    color:whitesmoke;
    padding: 0px 16px;
    // margin: 3px;
    
}

form > * {
    display: block;
    // width: 200px;
    margin: 10px 0px;
}