.container {
  max-width: 1500px;
  padding: 10px;
}

.main-container {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  padding: 0;

  &.details-grid {
    grid-template-columns: minmax(24px, 1fr) minmax(auto, 1120px) minmax(24px, 1fr);
  }

  padding: 0;

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  @include for-normal-layout {
    grid-template-columns: minmax(40px, 1fr) minmax(1128px, $normal-breakpoint) minmax(40px, 1fr);
  }
}

.cards-layout {
  grid-template-columns: repeat(4, 1fr);

  // .stay-card {
  //   width: 280px;
  // }
}
