// Colors
$clr1: #fff;
$clr2: #ff385c;
$clr3: #4f3a65;
$clr4: #574f7d;
$clr5: #95adbe;
$clr6: #dff0ea;
$clr7: #000000;
$clr8: #222222;
$clr9: #717171;

// main layout
$mobile-breakpoint: 460px;
$mobile-big-breakpoint: 500px;
$tablet-breakpoint: 960px;
$narrow-breakpoint: 1200px;
$normal-breakpoint: 1360px;
$wide-breakpoint: 1720px;

// Breakpoints details (stay)
$mobile-details-breakpoint: 502px;
$mobile-details-big-breakpoint: 696px;
$tablet-details-breakpoint: 902px;
$narrow-details-breakpoint: 1048px;
$normal-details-breakpoint: 1360px;
$wide-details-breakpoint: 1720px;
